USE [db]
GO
/****** Object:  UserDefinedFunction [dbo].[utl_f_ConvertDateTimetoEpoch]    Script Date: 6/5/2018 10:47:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[utl_f_ConvertDateTimetoEpoch](@DATE datetime)  
RETURNS bigint  
AS  
BEGIN  
	DECLARE @Epoch bigint;
	DECLARE @Miliseconds int;
	 IF @DATE IS NOT NULL
		BEGIN 
			-- convert datetime format to epoch in seconds (the difference between these two dates is too big to use miliseconds)
			SET @Epoch = DATEDIFF(s, '1970-01-01 00:00:00', @DATE)
			-- add miliseconds extracted from a param to epoch that is generated by the above function 
			SET @Epoch = (@Epoch*1000) + DATEPART(ms, @DATE)
		END
	 ELSE
		BEGIN
			SET @Epoch = null;
		END
	 RETURN(@Epoch);
END;  